<footer class="slot-content" slot="footer">

  <wa-stack class="w-full mt-12 mb-24">

    <hr class="border-1 border-red-200">
    <h2 class="text-center w-full" style="color:var(--wa-color-brand)">{{ site.title | escape }}</h2>

    <!--  <ul class="contact-list">-->
    <!--    <li class="p-name">-->
    <!--      {%- if site.author -%}-->
    <!--      {{ site.author | escape }}-->
    <!--      {%- else -%}-->
    <!--      {{ site.title | escape }}-->
    <!--      {%- endif -%}-->
    <!--    </li>-->
    <!--    {%- if site.email -%}-->
    <!--    <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>-->
    <!--    {%- endif -%}-->
    <!--  </ul>-->

    <!--  <div class="footer-social">-->
    <!--&lt;!&ndash;    {%- include social.html -%}&ndash;&gt;-->
    <!--  </div>-->

    <div class="prose m-auto">
      <p>{{- site.description | escape -}}</p>
    </div>
    <div class="flex justify-between w-[100px] mx-auto">
        <a href="https://github.com/unicolored"><i class="fa-brands fa-github text-4xl"></i></a>
        &nbsp;
        <a href="https://buymeacoffee.com/unicolored">
          <i class="fa-sharp-duotone fa-solid fa-mug-hot text-4xl"></i>
        </a>
    </div>

  </wa-stack>

</footer>

{% include initial-sh.html %} {% include meilisearch-script.html %} {% if
page.title == 'Recherche' %} {% include meilisearch-script-second.html %} {%
endif %}'
