<header class="_page_header">
  <div class="_page_header_logo">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="flex content-center gap-4" rel="author" href="{{ "/" | relative_url }}">
      <span class="flex content-center self-center justify-center text-center w-[120px] h-[120px] text-7xl">
        <span class="inline-block self-center h-[72px]"><i class="fa-kit fa-unicolored"></i></span>
      </span>
      <span class="text-6xl self-center">
        {{ site.title | escape }}
      </span>
    </a>
  </div>


  <nav class="_page_header_nav">

    <div class="nav-items">
      {% for nav_page in site.nav_pages %}
      {% assign hyperpage = site.pages | where: "path", nav_page | first %}
      {% if hyperpage.title %}
      <a class="nav-item" href="{{ hyperpage.url | relative_url }}">{{ hyperpage.title | escape }}</a>
      {% endif %}
      {% endfor %}
    </div>

  </nav>

  <div class="_page_header_search">
    {% include meilisearch-input.html %}
  </div>
</header>
