<form id="formsearch" action="/search/" class="relative">
  <div class="input-button-group">
    <wa-input
      name="s"
      type="text"
      id="search"
      autocomplete="off"
      placeholder="Search..."
      clearable
      size="large"
      style="width: 100%"
    ></wa-input>
    <wa-button style="width: 3em;"
      type="submit"
               size="large"
      id="search-button"
    >
      <wa-icon slot="prefix" name="magnifying-glass" variant="solid" id="search-icon"></wa-icon>
    </wa-button>
  </div>
  <div
    id="instantResults"
    class="hidden"
  ></div>
</form>
