<form id="formsearch" action="/search/" class="relative">
  <label for="search" class="sr-only">Search</label>
  <div class="input-button-group">
    <input
      name="s"
      type="text"
      id="search"
      autocomplete="off"
      placeholder="Search..."
    />
    <button
      appearance="plain"
      type="submit"
      id="search-button"
    >
      <i class="fa-sharp-duotone fa-solid fa-magnifying-glass" id="search-icon"></i>
      <i class="fa-sharp-duotone fa-solid fa-strawberry fa-flip" id="spinner-icon" style="display: none"></i>
    </button>
  </div>
  <div
    id="instantResults"
    class="hidden"
  ></div>
</form>
