{% assign umami = site.analytics.enabled %}
{% if umami %}
<script defer src="https://analytics.unicolo.red/script.js"
        data-website-id="{{ site.analytics.id }}"
        data-domains="{{ site.domain }}"></script>

<script type="text/javascript">
    (() => {
        const name = 'outbound-link-click';
        document.querySelectorAll('a').forEach(a => {
            if (a.host !== window.location.host && !a.getAttribute('data-umami-event')) {
                a.setAttribute('data-umami-event', name);
                a.setAttribute('data-umami-event-url', a.href);
            }
        });
    })();
</script>
{% endif %}
