<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

<wa-page view="desktop" navigation-placement="start" style="--header-height: 57.59375px; --subheader-height: 57.59375px; --banner-height: 57.59375px; --footer-height: 57.59375px;">
    {%- include header.html -%}

    <header class="slot-content" slot="main-header">
        <!-- Breadcrumb -->
        <div class="m-auto px-12 py-4">
                <!-- ... -->
            <wa-breadcrumb>
                <wa-breadcrumb-item href="/">Home</wa-breadcrumb-item>

                {% if page.url != '/' %}
                <wa-breadcrumb-item href="{{ page.url }}">{{ page.title }}</wa-breadcrumb-item>
                {% endif %}
            </wa-breadcrumb>
        </div>
    </header>
    <div class="slot-content" slot="">
        <div class="wrapper">
            {{ content }}
        </div>
    </div>
    <footer class="slot-content" slot="main-footer">
    </footer>
    <div class="slot-content" slot="aside">
    </div>

        {%- include footer.html -%}
</wa-page>




{% include initial-sh.html %}

</body>

</html>
